.topbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 0 10px;
}

.item {
  flex: 1 1 0;
  background-color: blue;
}

.logo {
  background-color: red;
}

.nav {
  background-color: green;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navListItem {
  background-color: blue;
}

.navListItemLink {
  background-color: aqua;
  padding: 20px 10px;
  display: block;
}
